
    <!-- <div>
      <button name="Save" [ngClass]="['bntStyle']" (onClick)="submit()">Submit</button>
     </div> -->
     <!-- <div [ngStyle]="{'background-color': style1 ? 'red' : (style2 ? 'blue' : null) }">
     </div> -->
     <!-- <button [style.background-color]="toggle ? 'green' : 'red'" (click)="enableDisableRule()">
        {{status}}
      </button> -->

<!-- <div (click)="getRandomColor()">
{{value}}
</div>     -->

  <div [ngStyle]="{'background-color':getRandomColor()}" (mouseenter)='getRandomColor()' (mouseleave)='getRandomColor()'>
    Welcome Angular
    alert("succes")
     </div>
    
<button (click)="sub()">hi</button>